body, html {
	height: 100%;
}

body {
	background-image: linear-gradient(to bottom right, #03045E, #CAF0F8);
	background-repeat: no-repeat;
	font-family: "Cormorant Garamond", serif;
}

h1, h2 {
	font-weight: bold;
	text-align: center;
	color: #FFF;
}

p, #projects li {
	color: #FFF;
	font-size: 20px;
}

#intro, #aboutme, #projects, #certs {
	background-image: linear-gradient(to top right, rgba(232, 93, 4, 0.5), rgba(255, 186, 8, 0.5));
	margin: auto;
	border-radius: 10px;
}

#intro {
	width: 25%;
}

#aboutme {
	width: 50%;
}

#projects {
	width: 75%;
	text-align: center;
}

#projects li {
	display: inline;
}

#intro figure img {
	display: block;
	width: 200px;
	height: 200px;
	object-fit: contain;
	border-radius: 50%;
	margin: auto;
}
