body, html {
	height: 100%;
}

body {
	background: linear-gradient(to bottom right, #03045E, #CAF0F8) no-repeat center center fixed;
	font-family: "Cormorant Garamond", serif;
}

#centerpiece {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 50px;
}

h1 {
	font-size: 50px;
}

h1, h2, p {
	color: #FFF;
}

p, #projects li, #certs li {
	color: #FFF;
	font-size: 20px;
}

#intro {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#projects {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#intro, #aboutme, #projects, #certs {
	background-image: linear-gradient(to top right, rgba(232, 93, 4, 0.5), rgba(255, 186, 8, 0.5));
	margin: auto;
	width: 35%;
}

.socials {
	list-style-type: none;
	display: flex;
}

.socials li {
	margin: auto;
}

.socials li img {
	width: 50%;
	height: 50%;
}

.arrow, #aboutme div .arrow {
	display: block;
	text-decoration: none;
	color: #FFF;
	font-size: 35px;
	border: 5px;
	border-radius: 50%;
	padding: 0 10px;
	background: #ADB5BD;
	width: 30px;
	height: 45px;
	line-height: 1.2;
	margin: 30px auto;
}

#aboutme {
	line-height: 1.5;
}

#aboutme div {
	display: flex;
	flex-direction: column;
}

#aboutme a {
	margin: auto;
	line-height: 1.0;
	font-size: 20px;
	color: #005F73;
}

#projects h2, #certs h2 {
	border: 1px solid;
}

#projects ul li, #certs ul li {
	display: inline-block;
}

#certs ul li img {
	width: 350px;
	height: 33%;
}

#intro figure img {
	display: block;
	width: 250px;
	height: 250px;
	object-fit: contain;
	border-radius: 50%;
	margin: auto;
}
