h1, h2 {
	font-weight: bold;
}

#top {
	background-color: AliceBlue;
	position: absolute;
	width: 100%;
	top: 0;
}

#profilepic {
	margin: 0 500px;
}

#profilepic img {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}